<header class="header">
<nav class="navigation">
<ul class="menu">
  <li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}" {% if page.url == '/' %}class="menu--active"{% endif %}>Home</a></li>
  <li class="menu__entry"><a href="{{ '/portfolio/' | prepend: site.baseurl }}" {% if page.url == '/portfolio/' %}class="menu--active"{% endif %}>Portfolio</a></li>
  <li class="menu__entry"><a href="{{ '/blog/' | prepend: site.baseurl }}" {% if page.url contains '/blog' %}class="menu--active"{% endif %}>Blog</a></li>
</ul>
</nav>
<div class="header-right">
  <div class="lang-switch" id="lang-switch" onclick="toggleLang()">
    <span class="lang-switch__en">EN</span>
    <span class="lang-switch__slider"></span>
    <span class="lang-switch__ko">KR</span>
  </div>
</div>
</header>
